/* COMMON */
* {
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

body {
  color: #222222;
  font-size: 16px;
  line-height: 20px;
}

.inner {
  width: 1360px;
  padding-right: 35px;
  padding-left: 35px;
  margin: 0 auto;
}

/* HEADER */
header {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid #ededed;
}

header .large-box {
}

header .main-box {
  height: 80px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

header .main-box .icon-wrapper {
  text-align: center;
  margin: auto 0;
}

header .main-box .icon {
  color: #ff385c;
  cursor: pointer;
  padding: 10px 0;
}

header .main-box .icon .svg-icon {
  width: 102px;
  height: 32px;
}

/* SEARCH BAR */
header .main-box .search-bar {
  display: flex;
  border: 1px solid #ededed;
  padding: 7px 10px 7px 20px;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
  cursor: pointer;
  margin-left: 130px;
  transition: 0.5s;
}

header .main-box .search-bar:hover {
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

header .main-box .search-bar .items {
  margin-right: 20px;
  position: relative;
  font-weight: 1000;
}

header .main-box .search-bar .items:nth-child(3) {
  font-weight: 300;
  color: #838383;
}

header .main-box .search-bar .items.icon-glass {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #ff385c;
  margin-right: 0;
}

header .main-box .search-bar .items:last-child .icon-glass-box {
  padding: 12px;
}

header .main-box .search-bar .items:last-child .icon-glass-box svg.mt-icon {
  width: 12px;
  height: 12px;
}

header .main-box .search-bar .items:last-child .icon-glass-box path.mt-icon {
  color: #fff;
}

header .main-box .search-bar .items::after {
  content: "";
  width: 2px;
  height: 25px;
  background-color: #ededed;
  position: absolute;
  top: -1px;
  right: -11px;
}

header .main-box .search-bar .items:nth-child(3)::after,
header .main-box .search-bar .items:last-child::after {
  display: none;
}

header .main-box .search-bar .items:nth-child(3)::after,
header .main-box .search-bar .items:last-child {
  margin-right: 0px;
}

header .main-box .search-bar .icon-glass {
  height: 12px;
  width: 12px;
}

header .main-box .search-bar .icon-glass svg {
  display: block;
  width: 12px;
  height: 12px;
  stroke: currentcolor;
  stroke-width: 5.33333;
  overflow: visible;
}

header .main-box .nav {
  width: 250px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 1000;
}

header .main-box .nav .beHost {
  cursor: pointer;
  text-align: center;
  padding: 10px 15px;
  border-radius: 20px;
  margin-right: -7px;
  transition: 0.3s;
}

header .main-box .nav .beHost:hover {
  background-color: #f3f1f1;
}

header .main-box .nav .langAndLoc {
  cursor: pointer;
  display: flex;
  border-radius: 20px;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  transition: 0.3s;
}

header .main-box .nav .langAndLoc:hover {
  background-color: #f3f1f1;
}

header .main-box .nav .langAndLoc .material-icons {
  width: 16px;
  height: 16px;
}

header .main-box .nav .sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
  height: 40px;
  padding: 5px 5px 5px 9px;
  color: #838383;
  border: 2px solid #ededed;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
}
header .main-box .nav .sub-nav:hover {
  box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
}

header .main-box .nav .sub-nav .list-up {
  width: 16px;
  height: 16px;
}

header .main-box .sub-nav .mypage {
  width: 32px;
  height: 32px;
}

/* CATEGORY */
.category {
  width: 100%;
  position: sticky;
  top: 81px;
  z-index: 999;
  background-color: #fff;
}
.category .scroll-line {
  height: 1px;
}

.catogory-contianer {
  height: 78px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.catogory-contianer .category-box {
  width: 1200px;
  height: 78px;
}

.catogory-contianer .before-btn-wrapper {
  position: absolute;
  top: 25.8px;
  /* 78/2 - 버튼 높이 /2 */
  width: 26.4px;
  height: 26.4px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.catogory-contianer .before-btn-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);
}

.catogory-contianer .before-btn-wrapper .before-btn {
}

.catogory-contianer .next-btn-wrapper {
  position: absolute;
  top: 25.8px;
  /* 78/2 - 버튼 높이 /2 */
  right: 150px;
  width: 26.4px;
  height: 26.4px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #cacaca;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.catogory-contianer .next-btn-wrapper:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 20px rgb(0 0 0 / 0.2);
}

.catogory-contianer .category-item-btn {
  width: 100px;
  height: 78px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  opacity: 0.5;
  flex-shrink: 0;
}

.catogory-contianer .category-item-btn:hover {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #dbd9d9;
  opacity: 1;
}

.catogory-contianer .category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catogory-contianer .category-image {
  width: 24px;
  height: 24px;
}

.catogory-contianer .category-text {
  padding-top: 5px;
  font-size: 12px;
  font-weight: 600;
}

.catogory-contianer .category-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  border-radius: 13px;
  border: 1px solid #ededed;
  width: 85px;
  height: 50px;
  cursor: pointer;
}

.catogory-contianer .category-filter .filter-image {
  margin-right: 10px;
}

.catogory-contianer .category-filter .filter-text {
}

/* MAIN CONTENTS */
.container {
  margin-top: 18px;
}

.grid-container {
  display: grid;
  grid-template-columns: 302px 302px 302px 302px;
  row-gap: 40px;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}

.grid-container .accommo {
  position: relative;
  cursor: pointer;
}

.grid-container .accommo .pic {
}

.grid-container .accommo .pic .contents {
  width: 302px;
  height: 286.9px;
  border-radius: 15px;
}

.grid-container .accommo .like {
  position: absolute;
  top: 13px;
  right: 13px;
  transition: 0.3s;
}

.grid-container .accommo .like:active {
  transform: scale(0.9);
}

.grid-container .accommo .info {
  margin-top: 8px;
  display: grid;
  grid-template-columns: 256.675px 37.325px;
  grid-template-rows: 19px 19px 19px 30px;
  grid-auto-flow: column;
  line-height: 19px;
  row-gap: 2px;
  column-gap: 8px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.grid-container .accommo .info .loc,
.grid-container .accommo .info .price-num {
  font-weight: 550;
  font-size: 16px;
}

.grid-container .accommo .info .distance,
.grid-container .accommo .info .date {
  color: #838383;
}

.grid-container .accommo .info .price-num {
}

.grid-container .accommo .info .stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* FLOATING ICON */
.floating-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 150px;
  z-index: 999;
}

.floating-btn .floating-box {
  width: 160px;
  height: 50px;
  border-radius: 40px;
  color: #fff;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.floating-btn .floating-box:hover {
  transform: scale(1.05);
}

.floating-btn .floating-box .map-text {
  margin-right: 5px;
}

.floating-btn .floating-box .map-icon {
}

/* FOOTER */
footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  border-top: 1px solid #ddd;
}

footer .footer-container {
}

footer .footer-container .detail-infomation {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

footer .footer-container .detail-infomation .policy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-container .detail-infomation .policy-btn .policy-item {
  margin-right: 24px;
  cursor: pointer;
}

footer
  .footer-container
  .detail-infomation
  .policy-btn
  .policy-item:last-child {
  margin-right: 0;
  position: relative;
}

footer .footer-container .detail-infomation .policy-btn .policy-item::after {
  content: "·";
  width: 2px;
  height: 2px;
  position: absolute;
  color: #838383;
  padding-left: 10px;
}

footer
  .footer-container
  .detail-infomation
  .policy-btn
  .policy-item:last-child::after {
  display: none;
}

footer .footer-container .detail-infomation .localInfo-btn {
  display: flex;
  font-weight: 700;
}

footer .footer-container .detail-infomation .localInfo-btn .localInfo-item {
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

footer
  .footer-container
  .detail-infomation
  .localInfo-btn
  .localInfo-item
  .lang-icon {
  margin-right: 7px;
}

footer
  .footer-container
  .detail-infomation
  .localInfo-btn
  .localInfo-item
  .won-icon {
  margin-right: 7px;
}

footer
  .footer-container
  .detail-infomation
  .localInfo-btn
  .localInfo-item
  .reference-text {
  margin-right: 7px;
}

footer
  .footer-container
  .detail-infomation
  .localInfo-btn
  .localInfo-item:last-child {
  margin-right: 0;
}

footer
  .footer-container
  .detail-infomation
  .localInfo-btn
  .localInfo-item:last-child:hover {
  text-decoration: underline;
}

footer .footer-container .web-policy-info {
  padding: 10px 0;
  font-size: 10px;
  color: #717171;
  line-height: 13px;
}

footer .item-url {
  color: #222222;
  text-decoration: none;
}

footer .item-url:hover {
  text-decoration: underline;
}
